/* Blue, green, brown as primary. Red, white, yellow as secondary.*/

html, body, div, span,
object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, address,
img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
footer, header, hgroup, menu, nav {
    max-width: 100%;
    padding: 0;
    margin: auto;
    border: 0;
    font: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #54382f38;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    font-weight: 200;


}

.flexbox {
    display: flex;
}

.flexbox > div {
    flex: 1;
}

.card1.card2.card3 {
    flex: 50%;
}


h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
    min-width: 100px;
    min-height: 150px;
    max-height: 300px;
    text-align: center;

}

p.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card1,
.card2 {
    float: left;
    margin-right: 20px;
}

.card3 {
    float: right;
}


strong {
}

a {
    color: #ee0000;
}

a:hover {
    color: #f4b942;
}

a:link {
    color: #bbbbbb;
}


.container {
    overflow: hidden;
    margin: 0em auto;
    width: 75%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


/* Info Card */


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/


.image img {
    display: block;
    max-width: 75%;
    height: auto

}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
}

ul.actions {
}

ul.actions li {
    display: inline-block;
    padding: 0em 0.50em;
}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #FFF;
}

ul.contact li a:before {
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a.icon-twitter:before {
    background: #2DAAE4;
}

ul.contact li a.icon-facebook:before {
    background: #39599F;
}

ul.contact li a.icon-dribbble:before {
    background: #C4376B;
}

ul.contact li a.icon-tumblr:before {
    background: #31516A;
}

ul.contact li a.icon-rss:before {
    background: #F2600B;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
    display: inline-block;
    padding: 1em 2em 1em 2em;
    letter-spacing: 0.10em;
    margin-top: 2em;
    padding: 1.40em 3em;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: #FFF;
}

.button-alt {
    padding: 1em 2em;
    border-color: rgba(0, 0, 0, .8);
    color: rgba(0, 0, 0, .8);
}

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

.boxA,
.boxB,
.boxC {
    width: 384px;
}

.boxA,
.boxB {
    float: left;
    margin-right: 20px;
}

.boxC {
    float: right;
}


/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

.tbox1,
.tbox2 {
    width: 575px;
}

.tbox1 {
    float: left;
}

.tbox2 {
    float: right;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
    margin-bottom: 3em;
}

.title h2 {
    font-size: 2.7em;
}

.title .byline {
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.60);
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#wrapper {
    position: relative;
    padding: 1em 0em 2em 0em;
    background: #FFF;
    width: 95%;

}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
    position: relative;
    padding-top: 0;
    padding-bottom: 8em;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/static/webapp/images/crickets-in-hands2ndblur-cropped.png") 50% 0 no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/webapp/images/crickets-in-hands2ndblur-cropped.png") 50% 0 no-repeat;
    background: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/webapp/images/crickets-in-hands2ndblur-cropped.png") 50% 0 no-repeat;
    background-size: cover;
    display: block;
    height: auto;
    width: 100%;
    background-position-y: center;
}

#header {
    position: relative;
    padding: 5em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    position: absolute;
    top: 3.6em;
    left: 0;
}

#logo h1 {
    font-size: 2.6em;
    color: #79C255;
}

#logo a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
    position: absolute;
    top: 4.5em;
    right: 0;

}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span {
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.80);
}

#menu li:hover a, #menu li.active a, #menu li.active span {
}

#menu .active a {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
}

#menu .icon {
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
    padding-top: 1em;
    text-align: center;
}

#banner .title h2 {
    font-size: 4em;
    color: cornsilk;
}

#banner .title .byline {
    font-size: 2em;
}

#banner .button {
    margin-top: 2em;
    padding: 1.40em 3em;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
    font-weight: 700;
    font-size: 1em;

}

.banner {
    margin-bottom: 5em;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    font-size: 0.8rem;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
    overflow: auto;
    padding: 0em 0em;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#copyright p {
    text-align: center;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.3);
}

#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome {
    position: relative;
    padding: 7em 0em 7em 0em;
    background: #32381a;
    background-size: cover;
    text-align: center;
    width: 95%;
}

#welcome .container {
    width: auto;
    padding: 0 100px;
    color: rgba(255, 255, 255, 0.8);
}

#welcome a {
    color: rgba(255, 255, 255, 1);
}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/
#three-column {
    column-count: 1;
    column-gap: 25px;
    column-rule: 2px solid #FFFFFF;
}

#three-column {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

#three-column .fa {
    display: block;
    padding: 1em 0em;
    color: rgba(0, 0, 0, 1);
    font-size: 2em;
}

#three-column .title h2 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}

#three-column .title .byline {
    text-align: center;
    color: rgba(0, 0, 0, .9);
}

/* Devices smaller than 480 pixels */
@media only screen and (min-width: 320px) and (max-width: 500px) {
    .body {
        font-size: 12rem;
    }

    #banner .title h2 {
        font-size: 2rem;
    }
    #banner .title .byline{
        font-size: 1rem;
    }
    #banner .button{
        display: none;
}

#header-wrapper {
    height: 40vw !important;
    padding-bottom: 20em;
}

}


/* Devices smaller than 800 ox but larger than 480px */
@media only screen and( min-width: 481px ) and ( max-width: 800px) {
    #header-wrapper {
        height: 30vw !important;
        padding-bottom: 10em;
    }

    #header-wrapper.background {

    }
}