{% extends "blog/base.html" %}
{% load static %}
{% load custom_blog_tags %}
{% block title %}{{ post.title|safe }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="coll-md-8 card mb-4 mt-3 left top">
                <div class="card-body fa-font-awesome">
                    <h1>{{ post.title|safe }}</h1>
                    <p class="text text-muted">
                        Published {{ post.publish }} by {{ post.author }} | {{ post.body|read_time }}
                    </p>
                    <p class="card-text">
                        {{ post.body|safe|linebreaks }}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
